POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_PROJECT_ID=your_project_id
POSTHOG_PERSONAL_API_KEY=phx_your_personal_api_key
POSTHOG_TRIAL_EVENT=trial_started
POSTHOG_ACTIVATION_EVENT=activation_completed
POSTHOG_PAGEVIEW_EVENT=$pageview
POSTHOG_LOOKBACK_DAYS=7

STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_LOOKBACK_DAYS=7
STRIPE_CURRENCY=usd
